<html lang="zh-CN"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<h1 style="background-color:#cc6297;">System Index Page</h1>
<ul>
    <li><a th:href="@{/admin}">Admin Page</a></li>
    <li><a th:href="@{/user}">User Page</a></li>
    <li><a th:href="@{/app}">Anonymous Page</a></li>
</ul>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>